* {
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#left,
#right {
    background: linear-gradient(-225deg, #ff057c 0%, #7c64d5 48%, #4cc3ff 100%);
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);

}

.list {
    background: linear-gradient(-225deg, #ff057c 0%, #8d0b93 50%, #321575 100%);
    height: 60px;
    margin: 30px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: grab;
    border-radius: 6px;
    transition: 0.2s ease;

}

.list:hover{
    transform: scale(1.03);
}


.list img {
    width: 10px;
    margin-right: 15px;
    margin-left: 20px;
}