*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 10px;
    background: black;
    color: white;

}

.calculator{
    max-width: 600px;
    width: 100%;
    margin-left: 15%;

}

.calculator h1{
    font-size: 25px;
    border-left: 5px solid #673ab7;
    padding: 0 0 0 30px;
}

.calculator h1 span{
    font-size: 60px;
    background:linear-gradient(45deg, #e91e63, #f06292, #ba68c8, #d1c4e9);
    background-clip: text;
    color: transparent;

}

.inputBox{
    margin: 60px 0 40px;
    padding: 35px;
    background: rgba(103, 58, 183, .2);
    border-radius: 10px;
    position: relative;
    display: flex;

}

.inputBox label{
    position: absolute;
    top: 5px;
    font-weight: 500;

}

.inputBox input{
    color: white;
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    position:relative;
    background: linear-gradient(45deg, #9c27b0 , #673ab7 50%, white 100%);


}


.inputBox button{
    padding: 15px 30px;
    outline: 0;
    border: 0;
    background: yellow;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.inputBox input::-webkit-calendar-picker-indicator{
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    background-position: calc(100% - 20px);
    background-size: 25px;
    cursor: pointer;
}


#resultDisplay{
    font-size: 24px;
    visibility: hidden;
}

#resultDisplay span{
    color: #ffe500;
    font-weight: 500;
}